:host {
  display: block;
}

.brand-toolbar {
   height: 56px;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
  padding: 8px 16px;
}

.logo-text {
  text-decoration: none;
  margin-left: 24px;
  line-height: 1;
  color: #fff;
}
