<mat-card>
  <mat-card-title>Date Pick 日期选择器</mat-card-title>
  <mat-card-subtitle>默认</mat-card-subtitle>
  <mat-card-content>
    <shriek-date-picker></shriek-date-picker>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Date Pick 日期选择器</mat-card-title>
  <mat-card-subtitle>显示方式</mat-card-subtitle>
  <mat-card-content>
    <shriek-date-picker mode="landscape"></shriek-date-picker>
  </mat-card-content>
</mat-card>


<mat-card>
  <mat-card-title>Date Pick 日期选择器</mat-card-title>
  <mat-card-subtitle>事件</mat-card-subtitle>
  <mat-card-content>
    <shriek-date-picker action="true" (onConfirm)="onConfirm($event)" (selectValueChange)="onSelectValueChange($event)"></shriek-date-picker>
    <p>{{result}}</p>
  </mat-card-content>
</mat-card>
