<div class="example-container">
    <h1>Editor.MD Component for Angular</h1>
    <div class="editor">
        <form role="form" #form="ngForm" class="mat-elevation-z8">
            <editor-md name="markdown" [(ngModel)]="markdown" #editor="ngModel" (contentChange)="contentChange($event)" (ready)="editorReady($event)"
                [option]="option" required>
            </editor-md>
        </form>
        <p>
            MarkDown: {{markdown}}
        </p>
        <p>
            HTML: {{html}}
        </p>

        <h2>常用API</h2>
        <div>
            <button (click)="setContent()">修改内容</button>
        </div>
    </div>
</div>
